ALTER TABLE "PassTemplate"
ADD COLUMN "classSuffix" TEXT UNIQUE,
ADD COLUMN "fieldRows" JSONB DEFAULT '[]'::jsonb,
ADD COLUMN "hexBackgroundColor" TEXT,
ADD COLUMN "logoUrl" TEXT,
ADD COLUMN "heroImageUrl" TEXT;
